{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
{% with total_images_created=request.user.images_created.count %}
<p>Welcome to your dashboard. You have bookmarked
    {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>
{% endwith %}
<p>Drag the following button to your bookmarks toolbar to bookmark images
    from other websites -->
    <a href="javascript:{% include 'images/bookmarklet_launcher.js' %}" class="button">Bookmark it</a>
</p>

<p>You can also
    <a href="{% url 'edit_user_profile' %}">Edit your profile</a> or
    <br>
    <a href="{% url 'password_change' %}">Change your password</a>.
</p>
{% endblock %}