{% extends 'base.html' %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<!--<h1>Edit your account</h1>-->
<h1>Edit your profile:</h1>
<form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
</form>
{% endblock %}