asgiref==3.4.1
Django==3.2.8
Pillow==8.4.0
psycopg2-binary==2.9.1
python-decouple==3.5
python-http-client==3.3.3
pytz==2021.3
sendgrid==6.8.3
sendgrid-python==0.1.1
sqlparse==0.4.2
starkbank-ecdsa==1.1.1
whitenoise==5.3.0
