{% extends 'base.html' %}

{% load socialaccount %}

{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Log-in</h1>

{% if form.errors %}
<p>
    Your username and password didn't match.
    Please try again.
</p>
{% else %}
<p>Please, use the following form to log-in:</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        <p>
            <a href="{% url 'password_reset' %}">Forgotten your password?</a>
        </p>
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Log in"></p>
        <p>Please, use the following form to LogIn.
            If you don't have an account
            <a href="{% url 'register_user' %}"><strong>Register here</strong></a>
        </p>
    </form>
</div>

<div>
    <ul>
        <li>
            <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
                <i class="fa fa-github" aria-hidden="true"></i>
                <span>Login with GitHub</span>
            </a>
        </li>
        <li>
            <a href="{% provider_login_url 'google' %}" class="btn">
                <i class="fa fa-google fa-fw"></i>
                <span>Login With Google</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}