{% extends 'base.html' %}

{% block title %}{{ single_image.title }}{% endblock %}

{% block content %}
<h1>{{ single_image.title }}</h1>

{% load thumbnail %}
<a href="{{ single_image.image.url }}">
    <img src="{% thumbnail single_image.image 300x0 quality=100%}" class="image_detail">
</a>
{% with total_likes=single_image.users_like.count %}
<div class="image-info">
    <div>
        <span class="count">
            {{ total_likes }} like{{ total_likes|pluralize }}
        </span>
    </div>
    {{ single_image.description|linebreaks }}
</div>
<div class="image-likes">
    {% for user in single_image.users_like.all %}
    <div>
        <img src="{{ user.profile.photo.url }}">
        <p>{{ user.first_name }}</p>
    </div>
    {% empty %}
    Nobody likes this image yet.
    {% endfor %}
</div>
{% endwith %}
{% endblock %}